body {
    background-color: #B3DEF6;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.875rem; /* Reduz o tamanho da fonte em dispositivos menores */
    }
}

.container {
    width: auto;
    height: auto;
    overflow-x: hidden; /* Adiciona uma barra de rolagem quando necessário */
    display: flex; /* Usa flexbox para alinhar itens */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}


.imagens {
    position: absolute;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
    height: 100%; /* Mantém a proporção da imagem */
    overflow-x: hidden;
}



button {
    position: absolute; /* Define a posição absoluta para o botão */
    top: 50%; /* Define a distância do topo em relação ao elemento pai */
    left: 50%; /* Define a distância da esquerda em relação ao elemento pai */
    transform: translate(-50%, -50%); /* Centraliza o botão corretamente */
    background-color: white;
    color: transparent;
    padding: 15px 30px; /* Define o preenchimento interno do botão */
    font-size: 20px; /* Define o tamanho da fonte */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: none;
}

/* BOTÃO PARA RETORNAR À PÁGINA ANTERIOR */

#BotVoltar {
    position: absolute;
    top: 7%;
    left: 29.8%;
    padding: 30px 60px;
}

/*BOTÕES DO MENU PRINCIPAL */

#BotMenu {
    position: absolute;
    top: 111%;
    left: 50%;
    padding: 35px 295px;
}

/* BOTÕES PARA O MENU */ 

#BotBatMenu {
    position: absolute;
    top: 41%;
    left: 33.6%;
    padding: 130px 80px;
}

#BotCompMenu {
    position: absolute;
    top: 41%;
    left: 64.85%;
    padding: 130px 80px;
}

#BotTampaMenu {
    position: absolute;
    top: 105%;
    left: 33.6%;
    padding: 170px 85px;
}

#BotTouchMenu {
    position: absolute;
    top: 105%;
    left: 64.85%;
    padding: 170PX 85px;
}

#BotFeMenu {
    position: absolute;
    top: 170%;
    left: 35%;
    padding: 150px 85px;
}

#BotAceMenu {
    position: absolute;
    top: 170%;
    left: 64.85%;
    padding: 150px 85px;
}

/* BOTÕES PARA O MENU DAS BATERIAS */

#BotBatApple {
    position: absolute;
    top: 15%;
    left: 17%;
    padding: 150px 55px;
}

#BotBatMoto {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatSam {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatMi {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatAsus {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatLG {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatLenovo {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatMulti {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatPositivo {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatAlcatel {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}

#BotBatNoco {
    position: absolute;
    top: 90%;
    left: 80%;
    padding: 150px 85px;
}